* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10rem;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  #tabel_studenti tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #tabel_studenti th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0c66b4;
    color: white;
  }
  
  #container {
    width: 50%;
    margin: 0 auto;
  }
  
  .nav {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #20022a 0, #0c66b4 100%);
    font-weight: 700;
  }
  
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
  }
  
  a:hover {
    color: #0081ea;
  }
  